<html>
    <head>
      <title>About me</title>
      <link rel="icon" href="./img/weather.png">
      <link rel="stylesheet" href="./css/style.css">
    </head>
    
    <body>
        <div class="main">
           {{>header}}
           <p>Hi this is nishant.I'm student at manit bhopal.</p>
           <p>This website uses api from mapbox.com for getting address and darksky.net for forecasting weather.</p>
        </div>
        {{>footer}}
    </body>
</html>