<html>
    
   <head>
       <title>
        Help page
       </title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
       <div class='main'>
           {{>header}}
           <p>Contact us at our fb page.</p>

       </div> 
        {{>footer}}
    </body>
</html>